<h2> <%= director.name %> </h2>
<a href="/directors/<%=director.id%>/edit">Edit</a>
<%- include('../partials/deleteForm', {url:`/directors/${director.id}`}) %>

<% if(movies.length > 0) { %>
    <h2> Movies By Director </h2>
    <% movies.forEach(movie => { %>
        <img src="<%= movie.coverImagePath %>" height="150" width="100" alt="">
    <% }) %>
<% } %>